*{
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;}
:root{
	--azulC:#48dbfb;
	--negro:#222f3e;
	--morado:#e056fd;
	--blanco:#ffffff;
	--gris:rgba(87,101,116,.02);
}
#calculadora{
	background: var(--negro);
	width: 280px;
	height: 520px;
	position: fixed;
	margin-top: 45px;
	margin-left: 530px;
	border-radius: 25px;
	position: fixed;

}
.pantalla{
	width: 100%;
	height: 37%;
	border-radius: 25px;
	position: relative;
}
	.modo{
		position: absolute;
		top: 20px;
		left: 50%;
		margin-left: -50px;
		width: 100px;
		background: var(--gris);
		border-radius: 10px;
	}
	.activo{
		color: rgba(255,255,255,.6);
	}
.botones{

	height: 63%;
	width: calc(100%-20px);
	background: var(--gris);

	border-radius: 25px;
	position: relative;
	padding-top: 10px;
	padding-left: 10px;

}
	.boton{
		width: 45px;
		height: 37px;
		margin: 10px;
		color: var(--blanco);
		position: relative;
		float: left;
		border-radius: 50%;
		color: white;
		padding-top: 8px;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
	}

	.sinmargen{
		margin-left: 0px !important;
	}
	.operador{
		color: var(--azulC);
		background: var(--gris);

	}
	.borrar{
		color: var(--morado);

	}
	#igual{
		background: var(--azulC);
	}

		#op{
		margin-top: 80px;
		margin-left: 10px;
		margin-right: 10px;
		text-align: right;
		font-size: 20px;
		color: white;

	}
	#res{
		margin-right: 10px;
		margin-left: 10px;
		height: 45px;
		text-align: right;
		color: #7BAFC1;
		position: relative;
		font-size: 40px;
	}

	.funcion{
			color: #8e24aa;
		}
		.operacion{
			color: #7BAFC1;
			background-color: #3A4151;
		}
		.igual{
			background-color: #7BD6F4;
		}
		.margen{
			margin-left: 75px;
		}
	
	

